html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  overflow: hidden;
}

header, footer {
  width: 100vw;
  background: #999999;
  color: white;
}

header {
  height: 50px;
  padding-left: 40%;
  padding-top: 10px;
  font-size: 28px;
}

a {
  text-decoration: none;
}

main {
  width: 100vw;
  height: 80vh;
}

#map {
  height: 75%;
  width: 85%;
  margin: 0 auto;
}

#legend {
  height: 5%;
  width: 80%;
  margin: 0 auto;
}

form {
  height: 50px;
  width: 385px;
  margin: 0 auto;
  margin-top: 30px;
}

#location {
  width: 200px;
  margin-right: 5px;
}

#send {
  width: 50px;
  margin-right: 5px;
}

#strava {
  width: 110px;
}

footer {
  height: 20px;
  margin-top: 50px;
  bottom: 0;
  position: fixed;
  padding-left: 200px;
  padding-top: 5px;
  font-size: 14px;
}
