html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/*body {
  margin: 0;
  overflow: hidden;
}*/

header, footer {
  width: 100vw;
  background: #999999;
  color: white;
}

header {
  height: 50px;
  padding-left: 40%;
  padding-top: 10px;
  font-size: 28px;
}

main {
  width: 100vw;
  height: 80vh;
}

#map {
  height: 85%;
  width: 85%;
  margin: 0 auto;
}

form {
  height: 50px;
  width: 270px;
  margin: 0 auto;
  margin-top: 30px;
}

#location {
  width: 200px;
  margin-right: 10px;
}

#send {
  width: 50px;
}

footer {
  height: 20px;
  margin-top: 50px;
  bottom: 0;
  position: fixed;
  padding-left: 200px;
  padding-top: 5px;
  font-size: 14px;
}
